# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\adi\project\yfa-golang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
